@import "tw-animate-css";
@import "shadcn/tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215.38 54.93% 13.92%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --primary: 150 41.94% 51.37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215.38 54.93% 13.92%;
    --secondary-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --input: 214.3 31.8% 91.4%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --card: 210 40% 96.08%;
    --card-foreground: 215.38 54.93% 13.92%;
    --border: 214.3 31.8% 91.4%;
    /* --destructive: 357.7 85.31% 51.96%; */
    --destructive: 0 71.43% 50.39%;
    --destructive-foreground: 210 40% 98%;
    --ring: 150 41.94% 51.37%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --chart-1: 160 39% 49%;
    --chart-2: 48 100% 50%;
    --chart-3: 0 100% 70%;
    --chart-4: 180 60% 50%;
    --chart-5: 0 50% 40%;
    --chart-6: 320 60% 50%;

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

   .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 150 41.9% 51.4%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --chart-1: 160 50% 40%;
    --chart-2: 48 100% 40%;
    --chart-3: 0 100% 60%;
    --chart-4: 180 60% 40%;
    --chart-5: 0 50% 30%;
    --chart-6: 320 60% 40%;



    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);

  }  

img.dark\:grayscale, .img {
    filter: grayscale(0)!important;
}
 
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-onest);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground font-young-serif font-normal;
  }

  h1 {
    @apply text-lg lg:text-xl !leading-tight;
  }

  h2 {
    @apply text-sm lg:text-lg text-primary;
  }

  h3 {
    @apply text-sm lg:text-lg text-primary;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-sm;
  }

  /* p {
    @apply text-sm leading-relaxed font-normal text-muted-foreground mb-3;
  } */
  p {
    @apply text-[15px] leading-[25px] font-normal mb-[8px];
  }

  li {
    @apply text-[15px] leading-[25px] font-normal;
  }

  a {
    @apply text-primary;
  }

  small {
    @apply leading-5 text-xs;
  }

  .font-onest {
    font-family: var(--font-onest), sans-serif;
  }

  .font-young-serif {
    font-family: var(--font-yserif), serif;
  }

  .editor-content-section .img-responsive {
    @apply border border-accent p-2 my-4 rounded-sm bg-accent;
  }

  .editor-content-section h4 {
    @apply pt-5 pb-3 text-primary;
  }

  .editor-content-section h2 {
    @apply pt-5 pb-3 text-primary;
  }


  .editor-content-section table {
    @apply mb-4;
  }

  .editor-content-section td {
    @apply text-sm p-2 border border-accent;
  }

  .editor-content-section ul {
    @apply list-disc;
  }

  .editor-content-section ul,
  .editor-content-section ol {
    @apply list-outside ms-4;
  }

  .editor-content-section li {
    @apply text-sm leading-relaxed font-normal text-muted-foreground mb-3;
  }
}


 

/*!---- Loader CSS ----*/
.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}

.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}

@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

 

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }

  to {
    height: 0;
  }
}


@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.animate-shake {
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(-10deg);
    }

    40% {
      transform: rotate(10deg);
    }

    60% {
      transform: rotate(-10deg);
    }

    80% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .animate-shake {
    animation: shake 0.6s infinite;
  }
}

/*!---- Loader CSS ----*/

 

/**Humburger css**/

#hamburger .line {
  fill: none;
  stroke: #4fb783;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

#hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

#hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

#hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

#hamburger.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#hamburger.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

#hamburger.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}





/*******Editor Css********/
.ck-editor__editable_inline {
  height: 300px !important;
}

.ck-source-editing-area::after,
.ck-source-editing-area textarea {
  max-height: 600px;
  overflow-y: scroll !important;
  width: 100% !important;
  max-width: 100% !important;
}


.ck-content img {
  max-width: 100% !important;
  height: auto;
}

.ck-content h1 {
  font-size: 2.3em;
}

.ck-content h2 {
  font-size: 1.84em;
}

.ck-content h3 {
  font-size: 1.48em;
}

.ck-content h4 {
  font-size: 1.22em;
}

.ck-content h5 {
  font-size: 1.06em;
}

.ck-content h6 {
  font-size: 1em;
}

.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
  line-height: 1.2em;
}

.ck-content blockquote,
.ck-content ol,
.ck-content p,
.ck-content ul {
  font-size: 1em;
  line-height: 1.6em;
}

.ck-content {
  z-index: 999 !important;
}

.ck.ck-balloon-panel {
  z-index: 1400 !important;
}

.ck.ck-powered-by {
  display: none !important;
}

 




@layer utilities {
  .container-px {
    @apply px-4 sm:px-6 lg:px-8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}